@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: $primary-color;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}